<suite name="ParallelSuite" parallel="tests" thread-count="2">

    <test name="Elements">
        <classes>
            <class name="Test.TestRunnerForms"/>
        </classes>
    </test>
    <test name="Elements2">
        <classes>
            <class name="Test.TestRunnerForms"/>
        </classes>
    </test>
</suite>
